@import reset
@import responsive-mixins

body
  background-color #eee
  overflow-y scroll
  font-family Roboto
  
.wrapper
  text-align center
  
.container
  text-align left
  max-width 800px
  margin 5%
  display inline-block
  line-height 20px

.outputCon
  margin 50px 0 0 0 
    
h3
  font-weight bold
  font-size 30px
p
  padding-top 20px  

.square
  left 100px
  position absolute
  width 100px
  height 100px

// @media screen and (max-width: 920px)
    
// @media screen and (max-width: 440px)
