@import reset
@import responsive-mixins
// @import range

body
  background-color #eee
  overflow-y scroll
  font-family Roboto
  
.wrapper
  text-align center
  
.container
  text-align left
  max-width 800px
  margin 5%
  display inline-block
  line-height 20px

.outputCon
  margin 50px 0 0 0 
    
h3
  font-weight bold
  font-size 30px
p
  padding-top 20px  

.square
  left 100px
  position absolute
  width 100px
  height 100px

label
  position fixed
  white-space nowrap

.crossfade input
  width 200px
  height 8px

.sliders input
  writing-mode bt-lr /* IE */
  -webkit-appearance slider-vertical/* WebKit */
  width 8px
  height 200px
  margin 2% 50px 2% 0
  
.btns
  margin 2% 20px 2% 0
  
.checkboxes input
  width 20px
  margin 2% 82px 2% 0
  


// @media screen and (max-width: 920px)
    
// @media screen and (max-width: 440px)
