@import "reset";
@import "responsive-mixins";

body
  background-color #eee
  overflow-y:scroll;
  font-family Arial
  color #eee
  
.square
  position absolute
  width 100px
  height 100px

@media screen and (max-width: 920px)
  .comment-card, .team-box, .show-more, .show-less
      width 100%
  .chart-container, #chart
    width 300px 
    height 300px
    text-align center
    margin 0 auto
    color #212721
  .comments
     margin-top 20px
     width 100%
     display block
     margin-left 0
     vertical-align baseline
  
  .pie-legend
    text-align center
    width 400px
    margin-left -40px
    
@media screen and (max-width: 440px)
  .pie-legend
    text-align center
    width 350px
    margin-left -20px