doctype html
html
  head
    title Leap Music
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Leap Music')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
  body
    .wrapper
      .container
        h3 Leap DJ

        .checkboxes
          p Enable volume: 
            input#enable-volume(type='checkbox', name='volume', value='enabled', checked)
          p Enable volume: 
            input#enable-filter(type='checkbox', name='volume', value='enabled', onclick='sound.toggleFilter( this)', checked)
          p Enable crossfade
            input#enable-crossfade(type='checkbox', name='volume', value='enabled', checked)

        .btns
          button#btn(onclick='sound.toggle()') start/stop

      .sliders
        input#volume-slider(type='range', min='0', max='200', value='100', orient='vertical', oninput='sound.changeVolume(this, 0)')
        input#filter-slider(type='range', min='0', max='200', value='200', orient='vertical', oninput='sound.changeFrequency(this, 0)')
        input#filter-q-slider(type='range', min='0', max='200', value='200', orient='vertical', oninput='sound.changeQuality(this, 0)')
      .crossfade
        input#crossfade-slider(type='range', min='0', max='200', value='0', oninput='sound.crossFade(this, 0)')

    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")
    //- script(src='//js.leapmotion.com/leap-plugins-0.1.11.min.js')

    if develop
      script(src="//localhost:9001/livereload.js")
